<section class="min-h-lvh text-black relative flex flex-col justify-center z-40 pt-32">
    <div class="container 3xl:w-[90%] flex flex-col gap-8 md:gap-12 lg:gap-24">
        <h1 class="is-h1 !leading-[1.1]">
            {{ post.title }}
        </h1>
        <div class="flex flex-col gap-8 lg:gap-16 max-w-[400px] lg:max-w-[600px] xl:max-w-[700px] 2xl:max-w-[800px] self-end">
            <div class="block-content indent-16 sm:indent-32">
                {{ post.introduction }}
            </div>
            <div class="flex flex-col max-lg:self-end gap-2 w-full max-w-[500px]">
                {% for subservice in post.subservice %}
                    <div class="border-t border-black/50 border-dashed flex flex-row justify-between py-4">
                        <h2 class="is-h6 text-black">
                            {{ subservice.title }}
                        </h2>
                        <p class="">
                            {{ '(' ~ loop.index ~ ')' }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
