<a class="post-tease" href="{{ post.link }}">
    <article class="flex flex-col gap-4">
        <img src="{{ get_image(post.thumbnail).src }}" alt="{{ post.thumbnail.alt }}" class="w-full object-cover aspect-3/4" />
        <div class="flex flex-row gap-4">
            {# {% include "partials/posts/post-date.twig" with { title: post.date|date('j M')} %} #}
            <h5 class="is-h7">
                {{ post.title }}
            </h5>
        </div>
    </article>
</a>
