<section	id="home-hero"	class="fixed top-0 left-0 h-lvh w-full"></section>
<section	id="home-hero-trigger"	class="relative !pt-24 sm:!pt-44 3xl:!pt-52 text-black h-lvh">
	<div	class="container"></div>
</section>
