<section class="banner bg-black text-white">
	<div class="container">
		<div class="block-content">
			{% if post.meta('banner_supertitle') %}
				<span class="supertitle">{{ post.meta('banner_supertitle') }}</span>
			{% endif %}
			<h1>
				{{ post.meta('banner_custom_heading') ? : post.title }}
			</h1>
			{% if post.meta('banner_content') %}
				{{ post.meta('banner_content') }}
			{% endif %}
		</div>
	</div>
</section>
