<section id="cta" class="relative z-40 text-white h-[150vh] flex flex-col justify-center">
    <div id="cta-center" class="h-lvh w-full flex flex-col justify-end">
        <div class="container flex flex-col items-center">
            {% include "partials/button.twig" with { title: 'Get in Touch' , link: '/contact', class: 'text-white' } %}
        </div>
    </div>
</section>
