<section id="about-scene" class="text-white bg-navy pt-0">
	<div class="container relative z-40">
		<div class="flex flex-col min-h-lvh justify-end py-4 sm:py-8 lg:py-16">
			{% include 'icons/wordmark.twig' with {
				class: 'w-full'
			} %}
		</div>
		<div class="flex flex-row justify-end">
			<div class="block-content max-w-[700px] xl:max-w-[1150px]">
				{{ block.content }}
			</div>
		</div>
	</div>
</section>
