<section class="text-navy dark-header dark-mouse">
	<div class="container flex flex-col gap-12 lg:gap-32 xl:max-w-[90%]">
		{% for item in block.content %}
			<div class="grid grid-cols-5 gap-6 lg:gap-16 xl:gap-24">
				<div class="block-content col-span-full lg:col-span-2 text-pretty">
					{{ item.heading }}
				</div>
				<div class="block-content col-span-full lg:col-span-3 text-pretty">
					{{ item.content }}
				</div>
			</div>
		{% endfor %}
	</div>
</section>
