<section class="relative">
	<div class="container">
		<div class="grid md:grid-cols-2 gap-6 md:gap-28">
			{% if block.left_content %}
				<div class="block-content">
					{{ block.left_content }}
				</div>
			{% endif %}
			{% if block.right_content %}
				<div class="block-content">
					{{ block.right_content }}
				</div>
			{% endif %}
		</div>
	</div>
</section>
