<section class="pb-24 md:pb-48 pt-0 2xl:pt-8 dark-header dark-mouse">
	<div class="container flex flex-col items-center">
		<div class="prose max-w-[1000px] text-navy">
			{{ block.content }}
		</div>
	</div>
</section>
