<section class="relative z-40">
    <div class="container flex flex-col gap-8 sm:gap-24 md:gap-48 xl:gap-64 max-sm:min-h-lvh max-sm:justify-center">
        <div class="block-content max-w-[900px] xl:max-w-[1350px] indent-16 sm:indent-32">
            {{ block.heading }}
        </div>
        <div class="flex w-full lg:justify-end">
            <div class="block-content !grid grid-cols-1 md:grid-cols-2 gap-8 md:!gap-16 max-w-[400px] md:max-w-[800px] 2xl:max-w-[1000px] indent-16 justify-end">
                {{ block.content }}
                {% if block.link %}
                    {% include "partials/button.twig" with { title: block.link.title , link: block.link.url, target: block.link.target } %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
