.button__small {
	&.dark {
		@apply text-navy;

		.button__icon-container {
			@apply bg-navy;

			svg {
				@apply text-white;
			}
		}
	}

	&.border-button {
		@apply border border-white rounded-[4px] p-3 px-4 bg-navy;
	}

	&.border-button.dark {
		@apply border-navy bg-white;
	}
}
