@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './typography.css';
@import './animations.css';
@import './buttons.css';
@import './sliders.css';
@import './accordion.css';
@import './forms.css';

@layer components {
	.container {
		@apply max-w-[100%] w-full px-4 md:px-8 mx-auto;
	}
}

main {
	section {
		@apply relative py-12 lg:py-20 3xl:py-32;
	}
}

.rounded-top {
	@apply rounded-t-3xl lg:rounded-t-[100px] 3xl:rounded-t-[200px];
}

.rounded-bottom {
	@apply rounded-b-3xl lg:rounded-b-[100px] 3xl:rounded-b-[200px];
}

.section-padding {
	@apply relative py-10 lg:py-20 3xl:py-32;
}

.section-padding-top {
	@apply relative pt-10 lg:pt-20 3xl:pt-32;
}

.section-padding-bottom {
	@apply relative pb-10 lg:pb-20 3xl:pb-32;
}

.remove-section-padding {
	@apply !py-0;
}

.banner {
	@apply relative !pt-24 sm:!pt-44 3xl:!pt-52;
}

/* REMOVE LOOM EXTENSION PADDING */
section#shadow-host-companion {
	@apply !py-0;
}

.pin-spacer {
	@apply !pointer-events-none;
}

/* Header color inversion for dark-header sections */
header .header-icon,
header .header-text,
header .menu-button-swap > div,
header .menu-background,
header nav,
header .nav-menu-items:last-child {
	@apply transition-colors duration-300 ease-out;
}

header.header-inverted .header-icon,
header.header-inverted .header-text {
	@apply text-navy;
}

header.header-inverted .menu-button-swap > div {
	@apply bg-navy;
}

header.header-inverted .menu-background {
	@apply bg-white/75;
}

header.header-inverted nav {
	@apply text-navy;
}

header.header-inverted .nav-menu-items-wrapper:last-child .nav-menu-items {
	@apply bg-navy text-white border-navy hover:bg-transparent hover:text-navy;
}

body,
#page-parent {
	scrollbar-gutter: stable;
	will-change: overflow, height;
}
