@font-face {
	font-family: 'Montreal';
	src: url('/wp-content/themes/startdigital/static/fonts/montreal.woff2');
}

*::selection {
	@apply bg-transparent;
}

html,
body {
	@apply font-body scroll-smooth antialiased;
}

body {
	@apply text-base 2xl:text-xl 4xl:text-2xl 3xl:leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.is-h7 {
	@apply font-heading !leading-[1.0] tracking-[-0.02em];
}

h1,
.is-h1 {
	@apply text-[100px] 4xl:text-[160px];
}

h2,
.is-h2 {
	@apply text-[72px] 4xl:text-[110px];
}

h3,
.is-h3 {
	@apply text-[56px] 4xl:text-[64px] leading-[1.3];
}

h4,
.is-h4 {
	@apply text-[24px] xl:text-[32px] 2xl:text-[32px];
}

h5,
.is-h5 {
	@apply text-[20px] sm:text-[24px] 2xl:text-[32px];
}

h6,
.is-h6 {
	@apply text-[18px] sm:text-[20px] 2xl:text-[24px];
}

/* List styles inside WYSIWYG editors */
.block-content {
	@apply flex flex-col gap-4 md:gap-6;

	ul {
		@apply ml-4;

		li {
			@apply list-disc;
		}
	}

	ol {
		@apply ml-4;

		li {
			@apply list-decimal;
		}
	}

	p {
		a:not(.button, .is-button) {
			@apply font-bold underline;
		}

		&:not(:first-of-type) {
			@apply indent-0;
		}
	}
}

.is-supertitle,
.supertitle {
	@apply !text-sm uppercase tracking-normal font-supertitle font-bold;
}

.is-superscript {
	@apply text-xs sm:text-xl lg:text-3xl;
}

/* Add these custom styles to your CSS file using Tailwind's @apply directive */

.prose :where(h1):not(:where([class~='not-prose'] *)) {
	@apply text-4xl font-extrabold mt-0 mb-6;
}

.prose :where(h2):not(:where([class~='not-prose'] *)) {
	@apply text-3xl font-bold mt-10 mb-5;
}

.prose :where(h3):not(:where([class~='not-prose'] *)) {
	@apply text-2xl font-semibold mt-8 mb-4;
}

.prose :where(h4):not(:where([class~='not-prose'] *)) {
	@apply text-xl font-semibold mt-6 mb-3;
}

.prose :where(h5):not(:where([class~='not-prose'] *)) {
	@apply text-lg font-semibold mt-6 mb-3;
}

.prose :where(h6):not(:where([class~='not-prose'] *)) {
	@apply text-base font-semibold mt-5 mb-2;
}

/* Large screen adjustments for lg:prose-xl */
.prose.lg\:prose-xl :where(h1):not(:where([class~='not-prose'] *)) {
	@apply lg:text-5xl lg:mb-8;
}

.prose.lg\:prose-xl :where(h2):not(:where([class~='not-prose'] *)) {
	@apply lg:text-4xl lg:mt-12;
}

.prose.lg\:prose-xl :where(h3):not(:where([class~='not-prose'] *)) {
	@apply lg:text-3xl lg:mt-10;
}

.prose.lg\:prose-xl :where(h4):not(:where([class~='not-prose'] *)) {
	@apply lg:text-2xl lg:mt-8;
}

.prose.lg\:prose-xl :where(h5):not(:where([class~='not-prose'] *)) {
	@apply lg:text-xl lg:mt-8;
}

.prose.lg\:prose-xl :where(h6):not(:where([class~='not-prose'] *)) {
	@apply lg:text-lg lg:mt-6;
}

.terms-content.prose * {
	@apply !text-white;
}
