@font-face {
	font-family: 'Palace';
	src: url('/wp-content/themes/startdigital/static/fonts/PalaceRegular.woff2');
}

@font-face {
	font-family: 'PalaceItalic';
	src: url('/wp-content/themes/startdigital/static/fonts/PalaceItalic.woff2');
}

@font-face {
	font-family: 'Bagoss';
	src: url('/wp-content/themes/startdigital/static/fonts/Bagoss.woff2');
}

@font-face {
	font-family: 'Burgesss';
	src: url('/wp-content/themes/startdigital/static/fonts/burgesss.woff2');
}

/* @font-face {
	font-family: 'Montreal';
	src: url('/wp-content/themes/startdigital/static/fonts/montreal.woff2');
} */

@font-face {
	font-family: 'Montreal Semibold';
	src: url('/wp-content/themes/startdigital/static/fonts/montreal-semibold.woff2');
}

*::selection {
	@apply bg-black text-white;
}

html,
body {
	@apply font-body scroll-smooth antialiased;
}

body {
	@apply leading-relaxed text-base 2xl:text-2xl 3xl:leading-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.is-h7 {
	@apply font-heading !leading-[1.3];
}

h1,
.is-h1 {
	@apply text-[42px] sm:text-[100px] lg:text-[150px] xl:text-[200px] 2xl:text-[300px];
}

h2,
.is-h2 {
	@apply text-[36px] sm:text-[52px] lg:text-[90px] xl:text-[125px] 2xl:text-[200px];
}

h3,
.is-h3 {
	@apply text-[36px] sm:text-[48px] lg:text-[64px] xl:text-[80px] 2xl:text-[120px];
}

h4,
.is-h4 {
	@apply text-[32px] sm:text-[40px] lg:text-[64px] 2xl:text-[80px];
}

h5,
.is-h5 {
	@apply text-[32px] lg:text-[48px] 2xl:text-[65px];
}

h6,
.is-h6 {
	@apply text-[20px] sm:text-[24px] lg:text-[32px] xl:text-[40px] 2xl:text-[48px];
}

.is-h7 {
	@apply text-[18px] sm:text-[20px] 2xl:text-[24px];
}

/* List styles inside WYSIWYG editors */
.block-content {
	@apply flex flex-col gap-4 md:gap-6;

	ul {
		@apply ml-4;

		li {
			@apply list-disc;
		}
	}

	ol {
		@apply ml-4;

		li {
			@apply list-decimal;
		}
	}

	p {
		a:not(.button, .is-button) {
			@apply font-bold underline;
		}

		&:not(:first-of-type) {
			@apply indent-0;
		}
	}
}

.is-supertitle,
.supertitle {
	@apply !text-sm uppercase tracking-normal font-supertitle font-bold;
}
