{% extends "base.twig" %}

{% block content %}
	<section class="banner">
		<div class="container">
			<div class="block-content">
				<h1>Page not found</h1>
				<p>Please navigate to another page or return home.</p>
				<a href="/" class="button">Go home</a>
			</div>
		</div>
	</section>
{% endblock %}
