<footer class="bg-black text-white">
	<div class="container py-12">
		Footer
	</div>
	<div class="bg-white text-black py-4">
		<div class="container text-xs flex gap-2 md:items-center max-md:flex-col md:justify-between">
			<span>
				&copy;
				{{ 'now'|date('Y') }}
				Start Digital. All Rights Reserved.</span>
        <a href="https://startdigital.com.au" target="_blank">Site by Start</a>
		</div>
	</div>
</footer>
