{% extends 'base.twig' %}

{% block content %}
	{% set news_posts = fn('get_news_posts') %}
	{% set length = news_posts|length %}

	<div id="entire-page" class="dark-header dark-mouse">
		<section id="no-grid-white-page" class="sticky top-0 left-0 h-lvh w-full pointer-events-none"></section>
		<section class="-mt-[100lvh] flex flex-col justify-center text-navy pt-24 pb-16 md:py-32">
			<div class="container flex flex-col gap-4 md:gap-12 items-center text-center relative z-40">
				<div split-type="chars" class="block-content relative w-fit">
					<h1 class="sm:text-[10vw]">
						{{ post.title }}
					</h1>
					<h6 class="is-superscript absolute left-full top-[15%] w-fit whitespace-nowrap">
						{{ length }}
					</h6>
				</div>
				<div class="flex flex-col gap-12">
					<div class="block-content block-intro max-w-[500px] 4xl:max-w-[700px] *:text-balance text-paragraphDark">
						{{ post.intro }}
					</div>
				</div>
			</div>
		</section>
		<section class="!pt-0">
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-16 sm:gap-8 md:gap-12 xl:gap-20 relative z-40 post-teases container w-full 3xl:w-[90%] max-w-[2000px]">
				{% for news in news_posts %}
					{% include 'partials/posts/post-tease.twig' with {
						news: news
					} %}
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
