{% extends 'base.twig' %}

{% block content %}
	<section	id="page-inner"	class="fixed top-0 left-0 h-lvh w-full pointer-events-none"></section>
	{% for block in post.meta('page_builder') %}
		<div	data-block="{{ block.acf_fc_layout }}">
			{{ include('blocks/' ~ block.acf_fc_layout ~ '.twig', ignore_missing = true) }}
		</div>
	{% endfor %}
{% endblock %}
