{% extends 'base.twig' %}

{% block content %}
	<section id="page-inner" class="fixed top-0 left-0 h-lvh w-full pointer-events-none"></section>
	<section class="terms-conditions z-40 relative text-white pb-48 pt-28">
		<div class="container flex flex-col items-center">
			<h1 class="is-h2 w-full max-w-[1200px]">
				{{ post.title }}
			</h1>
			<div class="terms-content prose max-w-[1200px] *:!text-white">
				{{ post.content|raw }}
			</div>
		</div>
	</section>
{% endblock %}
