<div class="overflow-hidden">
	<section id="about-scene" class="relative z-40 min-h-lvh flex flex-col justify-center">
		<div class="container flex flex-col gap-32 max-w-[85%] 4xl:max-w-[65%]">
			<div class="block-content">
				<div class="supertitle text-paragraphLight flex flex-row items-center gap-2">
					<div class="size-2.5 bg-paragraphLight blink"></div>Who we are
				</div>
				<h2 class="text-white max-w-[800px] 4xl:max-w-[1000px]">
					Full service Communications agency
				</h2>
			</div>
			<div class="text-paragraphLight self-end block-content !grid grid-cols-1 md:grid-cols-2 gap-8 md:!gap-16 max-w-[400px] md:max-w-[800px] 2xl:max-w-[1050px] justify-end">
				{{ post.about.content }}
			</div>
		</div>
	</section>
</div>
