<div class="w-full z-40 relative">
    <div class="min-h-lvh container flex flex-col items-center justify-center">
        <div id="home-about" class="rounded-4 w-1/3 aspect-3/4"></div>
    </div>
</div>
