<section id="home-about-trigger" class="w-full z-40 relative text-black">
    <div class="xl:min-h-lvh container flex flex-col justify-center gap-8 lg:gap-24">
        <div class="flex flex-col sm:flex-row xl:ml-[10%]">
            {% include "partials/supertitle.twig" with { title: post.about.supertitle, class: 'max-sm:hidden' } %}
            <div class="block-content max-w-[580px] xl:max-w-[770px] indent-16 sm:indent-32 sm:-ml-28 sm:-mt-4 xl:-mt-6">
                {{ post.about.introduction }}
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            {# THREEJS CONTAINER #}
            <div id="home-about" class="rounded-4 w-full self-center aspect-3/4 lg:col-start-2 relative">
                {% include "partials/number.twig" with { number: '01' } %}
                <div class="absolute right-[calc(100%+2rem)] top-1/2 -translate-y-1/2 text-black flex flex-row items-center justify-end gap-3 is-h7 w-fit">
                    <div class="size-2 bg-black shrink-0"></div>
                    <span class="shrink-0">
                        Impact + Growth
                    </span>
                </div>
                <div class="absolute bottom-4 left-1/2 -translate-x-1/2 text-white flex flex-row items-center gap-2">
                    <div class="size-1 bg-white"></div>
                    <span class="is-supertitle">
                        Hover
                    </span>
                </div>
            </div>
            <div class="block-content max-w-[400px] indent-16 justify-end">
                {{ post.about.content }}
                {% include "partials/button.twig" with { title: post.about.link.title, link: post.about.link.url, target: post.about.link.target } %}
            </div>
        </div>
    </div>
</section>
