<div id="frontpage-hero" class="fixed top-0 left-0 h-lvh w-full"></div>
<div id="hero-section-wrapper" class="relative z-40 overflow-hidden">
	<section id="hero-section" class="h-lvh w-full flex flex-col items-center justify-center">
		<div class="container flex flex-col items-center gap-6 w-full">
			{% include 'icons/wordmark.twig' with {
				class: 'h-8 text-paragraphLight'
			} %}
			<h1 class="text-white w-fit text-center max-w-[1600px]">
				Impact experiences for purposeful brands
			</h1>
		</div>
	</section>
</div>
