<div id="frontpage-hero" class="fixed top-0 left-0 h-lvh w-full"></div>
<div id="hero-section-wrapper" class="relative z-40 overflow-hidden">
	<section id="hero-section" class="h-lvh w-full flex flex-col items-center justify-center">
		<div class="container flex flex-col items-center gap-6 w-full">
			{% include 'icons/wordmark.twig' with {
				class: 'h-8 text-paragraphLight'
			} %}
			<div class="relative">
				<div id="hero-element"
					class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-[500px] z-20"></div>
				<h1 class="text-white w-fit text-center max-w-[1600px]">
					Impact experiences for purposeful brands
				</h1>
			</div>
		</div>
	</section>
</div>
