<header class="fixed top-0 left-0 w-full p-12 z-50">
	<div class="flex flex-row items-center justify-between">
		<a href="/">
			{% include 'icons/wordmark.twig' with {
				class: 'h-7 text-white'
			} %}
		</a>
	</div>
</header>
