<header	class="fixed top-4 sm:top-8 z-50 w-full max-w-[350px] -translate-x-1/2 left-1/2 bg-black rounded-4 p-1 pl-[10px] flex flex-row justify-between items-center">
	<a	href="{{ site.url }}"	rel="home"	class="flex w-fit">
		{% include 'icons/logo.twig' with { class: 'h-4 text-white'} %}
	</a>
	<button	class="bg-white h-[28px] w-[30px] rounded-[3px] flex flex-col justify-center items-center">
		<div	class="h-[10px] w-[16px] flex flex-col justify-between">
			{% for _ in 1..3 %}
				<div	class="lines rounded-full w-full h-[2px] bg-black"></div>
			{% endfor %}
		</div>
	</button>
</header>
