<div id="mouse-follower" class="fixed top-0 left-0 size-6 z-[55] pointer-events-none opacity-0">
	<div class="rounded-tl-sm border-l border-t size-2 border-white absolute top-0 left-0"></div>
	<div class="rounded-tr-sm border-r border-t size-2 border-white absolute top-0 right-0"></div>
	<div class="rounded-br-sm border-r border-b size-2 border-white absolute bottom-0 right-0"></div>
	<div class="rounded-bl-sm border-l border-b size-2 border-white absolute bottom-0 left-0"></div>
	<span data-mouse-coordinates
		class="text-[8px] leading-none absolute flex left-[calc(100%+0.5rem)] bottom-0 text-white whitespace-nowrap">
		0.00, 0.00
	</span>
</div>
