<div id="page-loader" class="fixed inset-0 z-[9999] bg-navy flex items-center justify-center pointer-events-none">
	<div class="loader-percentage text-navy text-[20vw] leading-none flex overflow-hidden relative z-20">
		{# Hundreds: just 0 and 1 #}
		<div class="digit-container h-[1.1em] overflow-hidden">
			<div class="digit-track flex flex-col items-end">
				<span class="block">0</span>
				<span class="block">1</span>
			</div>
		</div>
		{# Tens: 0-9 then 0 (11 digits for scrolling to position 10) #}
		<div class="digit-container h-[1.1em] overflow-hidden">
			<div class="digit-track flex flex-col items-center">
				{% for i in 0..10 %}
					<span class="block">{{ i % 10 }}</span>
				{% endfor %}
			</div>
		</div>
		{# Ones: 0-9 repeated 10 times + final 0 (101 digits for scrolling to position 100) #}
		<div class="digit-container h-[1.1em] overflow-hidden">
			<div class="digit-track flex flex-col items-center">
				{% for i in 0..20 %}
					<span class="block">{{ i % 10 }}</span>
				{% endfor %}
			</div>
		</div>
	</div>

	{# Pixel grid for block-out effect #}
	<div data-loader class="absolute inset-0 grid grid-cols-5 grid-rows-1">
		{% for i in 0..25 %}
			<div class="pixel bg-white"></div>
		{% endfor %}
	</div>
</div>
