<div id="page-loader"
	class="fixed inset-0 bg-darkBlue text-white flex items-center justify-center pointer-events-none overflow-hidden">
	<div class="relative flex flex-row gap-1">
		{% include 'icons/third.twig' with {
			class: 'h-10 sm:h-12 lg:h-24 third'
		} %}
		{% include 'icons/culture.twig' with {
			class: 'h-10 sm:h-12 lg:h-24 culture'
		} %}
	</div>
	<div class="loader-percentage text-3xl leading-none flex overflow-hidden absolute bottom-12 left-1/2 -translate-x-1/2 z-20">
		{# Hundreds: just 0 and 1 #}
		<div class="digit-container h-[1.1em] overflow-hidden">
			<div class="digit-track flex flex-col items-end">
				<span class="block">0</span>
				<span class="block">1</span>
			</div>
		</div>
		{# Tens: 0-9 then 0 (11 digits for scrolling to position 10) #}
		<div class="digit-container h-[1.1em] overflow-hidden">
			<div class="digit-track flex flex-col items-center">
				{% for i in 0..10 %}
					<span class="block">{{ i % 10 }}</span>
				{% endfor %}
			</div>
		</div>
		{# Ones: 0-9 repeated 10 times + final 0 (101 digits for scrolling to position 100) #}
		<div class="digit-container h-[1.1em] overflow-hidden">
			<div class="digit-track flex flex-col items-center">
				{% for i in 0..20 %}
					<span class="block">{{ i % 10 }}</span>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
