<div class="text-black relative {{ class }}">
    <span class="is-supertitle font-bold absolute -top-2 left-2">
        {{ title }}
    </span>
    {% include "icons/supertitle-arrow.twig" with { class: 'w-[125px]' } %}
</div>
